<div class="container">
  <h1>Over Auctionviewer</h1>
  <p><i>Ben jij ook op zoek naar een gemakkelijke manier om veilingen in jouw buurt te vinden?<br /> Ik was dat namelijk ook, daarom ben ik begonnen met deze Auctionviewer.</i></p>

  <h2>Veilingen van Troostwijk en Onlineveilingmeester.nl</h2>
  <p>Vindt gemakkelijk veilingen bij jou in de buurt van <a href="https://www.troostwijkauctions.com/nl/" target="_blank">Troostwijk Auctions</a> en <a href="https://onlineveilingmeester.nl/nl/">OnlineVeilingmeester.nl</a>
  <br>De verschillende websites zijn te herkennen aan het icoontje links onderin bij de veilingen.</p>

  <h2>Veilingen op kaart</h2>
  <p>Op de kaart zijn gemakkelijk alle veilingen te vinden. Zo kun je snel zien welke veilingen bij jou in de buurt zijn en hoef je niet uren rond te zoeken op de websites van de veilingen</p>
</div>

