.maprow{
  height:70vh;
}


.auction-image{
  min-width:100px;
}
.auction-info{
  min-width:150px
}
.auctionnavigation{
  z-index:2000;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}
