.icon {
  max-width: 35px;
  object-fit: contain;
  min-height: 44px;
}

h1 {
  margin-bottom: 0;
}

.auctionbrand{
  height: 28px;
}
.auctionbrand.notselected{
    opacity:0.5;
  
}

.location-warning{
  min-height:40px;
}

.maprow {
  height: calc(100vh - 72px);
}

.auctions-list{
  z-index: 6000;
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}
