// @import "tailwindcss/index.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "leaflet/dist/leaflet.css";

@import "tailwindcss";

@theme {
  --color-blue: rgb(3,59,85) ;// '#033B55';
  --color-primary: rgb(218,103,0) ;// '#da6700';

}
  // 'grey': '#f0f0f0',

  //           'primary': '#da6700', 
  //           'primary-light': '#ebceb4',
  //           'blue': '#033B55',
  //           'blue-light': '#0E65A3',

  //           'darkmode-white':'#323232',
  //           'darkmode-black': '#c4c4c4',
  //           'darkmode-grey': '#1F1F21',

  //           'darkmode-blue':  '#2582c5'


html, body {
  height: 100%;
  scroll-behavior: smooth;
}

/* You can add global styles to this file, and also import other style files */
.align-super{
  vertical-align:super;
}

.bg-light-grey{
  background:#ddd;
}

.twk-brand-logo{
  height:24px;
}
.ovm-brand-logo {
 height: 18px;
}
.ap-brand-logo {
 height: 18px;
}
